@import url("portal.css");
@import url("variables.css");
@import url("journal.css");
@import url("blocks.css");
@import url("table-of-contents.css");
@import url("tracker-sheets.css");
@import url("rarity-color.css");

/** GLOBAL STYLES **/
.wild-magic-surge table td:first-child {
  min-width: 70px;

}

/* 定义系统字体 */
:root {
  --dnd5e-font-modesto: "Modesto Condensed", "Microsoft JhengHei UI", "Palatino Linotype", serif;
  --dnd5e-font-roboto: Roboto, "Microsoft YaHei", sans-serif;
  --dnd5e-font-roboto-slab: "Roboto Slab", "Microsoft YaHei", serif;
  --dnd5e-font-roboto-condensed: "Roboto Condensed", "Microsoft YaHei", sans-serif;
  --dnd5e-font-roboto-slab-jhehei: "Roboto Slab", "Microsoft JhengHei", sans-serif;
}

.dnd5e.sheet .warnings .notification,
.dnd5e.sheet .info .notification {
  font-family: 'Signika', "Microsoft JhengHei", sans-serif;
}

.dnd5e.sheet.actor ul.attributes li.attribute .attribute-footer {
  font-family: "Signika", "Microsoft JhengHei", sans-serif;
}

.dnd5e.sheet.actor.character .resource .attribute-value label.recharge {
  font-family: "Signika", "Microsoft JhengHei", sans-serif;
}

/* 物品源注释 */
.item-original {
  width: 100%;
  margin: 0.7em 0 0.3em;
  padding: 0.2em 0.2em;
  text-align: right;
  font-family: "Microsoft YaHei", serif;
  font-style: italic;
  font-size: 0.77em;
  border-top: 1px solid #aaa;
  border-image: linear-gradient(to left,
      #aaa,
      transparent 90%);
  border-image-slice: 1;
}

/* 角色源注释 */
.actor-original {
  font-size: 1.17em;
  color: light-dark(#bc0f0f, var(--dnd5e-color-gold));
  font-variant: small-caps;
  font-weight: bold;
}

/* 日志源注释 */
.journal-entry:is(.phb, .dmg, .mm) {

  .journal-page-header,
  .journal-page-content,
  h1,
  h2,
  h3 {
    display: inline;
  }

  .journal-original-h1,
  .journal-original-h2,
  .journal-original-h3 {
    display: inline;
    font-size: 0.77em;
    color: var(--color-text-emphatic);
    font-family: "Microsoft YaHei", serif;
    font-style: italic;
    margin-left: 0.33em;
  }

  h2 {
    border-bottom: none !important;
  }

  .dmg-tracker h1,
  .dmg-tracker h2,
  .dmg-tracker h3 {
    display: revert;
  }

}

.journal-entry .journal-original-h1::after {
  content: "";
  display: block;
}

.journal-entry .journal-original-h2::after {
  content: "";
  display: block;
  border-bottom: 2px solid var(--phb-saturated-gold);
  border-image: linear-gradient(to right,
      var(--phb-saturated-gold),
      transparent 90%);
  border-image-slice: 0 0 1 0;
}

.journal-entry .journal-original-h3::after {
  content: "";
  display: block;
}

.journal-original-h1,
.journal-original-h2,
.journal-original-h3 {
  display: none;
}

/* 物品描述中的标题强调 */
.details.collapsible-content strong {
  color: light-dark(#5a0507, #9f9275);
}

.details.collapsible-content.card-content strong {
  color: #5a0507;
}

/* 日志段落标题强调 */
.journal-entry:is(.phb, .dmg, .mm) {

  strong {
    color: var(--color-text-emphatic);
  }

  p:has(> strong:first-child)::before {
    content: "";
    display: inline-block;
    width: 0.77em;
  }

}

/* 日志中的物品标题样式 */
.journal-entry .item-title {
  font-size: 1.17em;
  font-weight: bold;
  color: var(--color-text-emphatic);
}

.journal-entry .item-title a.content-link {
  color: var(--color-text-emphatic);
}

/* 表格标题样式 */
.table-caption {
  font-family: var(--dnd5e-font-roboto-slab);
  font-variant: small-caps;
  font-weight: bold;
}

/* 篡改嵌入物品的标题样式
.content-embed figcaption cite {
  width: 100%;
  margin: 0.7em 0 0.3em;
  padding: 0.2em 0.2em;
  text-align: right;
  font-family: "Microsoft YaHei", serif;
  font-style: italic;
  font-size: 0.77em;
  border-top: 1px solid #aaa;
}

.content-embed figcaption cite::before {
  content: none;
} */

/* 篡改 notable 系列以及 tooltip 中的标题样式 */
:is(.notable, .advice, .quest, .narrative) :is(h1, h2, h3, h4, h5) {
  font-family: var(--dnd5e-font-roboto-slab-jhehei);
}

:is(#tooltip, .locked-tooltip).dnd5e-tooltip :is(h1, h2, h3, h4, h5) {
  font-family: var(--dnd5e-font-roboto-slab-jhehei);
}

/* 物品引文 */
.item-quote {
  font-style: italic;
  padding: 0em 0.8em;
  border-left: 4px solid var(--dnd5e-color-gold);
}

/* dc7 注释 */
.dc7-note {
  padding: 0em 0.8em;
  border-left: 4px solid var(--dnd5e-color-gold);
}

.dc7-note::before {
  content: "注释";
  display: block;
  font-weight: bold;
  color: var(--dnd5e-color-gold);
}

document-embed .dc7-note,
:is(#tooltip, .locked-tooltip).dnd5e-tooltip .dc7-note {
  display: none;
}

/* 篡改日志中表格的元素，以确保其被 column 正确拆分 */
.journal-entry table {
  overflow: visible;
}

/* 修改 Details Summary 样式 */
details summary {
  list-style: none;
  position: relative;
  padding-left: 0em;
}

details summary::marker {
  display: none;
}

details summary::before {
  content: "\f105";
  font-family: "Font Awesome 6 Pro";
  font-weight: 900;
  margin-right: 0.2em;
  font-size: 1em;
  color: inherit;
}

details[open] summary::before {
  content: "\f078";
}

details[open] summary {
  border-bottom: 1px solid var(--dnd5e-color-gold);
  padding-bottom: 2px;
}

/* 修改工具指南的图标样式 */
:is(.dnd5e, .dnd5e2, .dnd5e2-journal) .fvtt:is(.quest, .advice)>figure img.square {
  background: var(--dnd5e-color-light-gray);
  border: 4px solid var(--dnd5e-color-gold);
  box-shadow: 0 0 4px var(--dnd5e-shadow-45);
}