/* ---------------------------------------- */
/*  PHB                                     */
/* ---------------------------------------- */
.table-of-contents[data-compendium-id="dnd5e-collection-2024.players-handbook"] {
  --dnd5e-srd-color-chapter-header: var(--color-text-emphatic);
  --dnd5e-srd-color-border: var(--color-text-emphatic);
  --dnd5e-srd-color-box-header: #fff;

  /* Frame styling: Background image and scrollbars */
  & .window-content {

    border-image: var(--phb-border-image);
    color: var(--color-text-primary);

    & .contents {
      background: none;
    }

    scrollbar-width: thin;
    scrollbar-color: var(--color-text-emphatic) transparent;

    &::-webkit-scrollbar-track {
      box-shadow: none;
      border-radius: 0;
    }

    &::-webkit-scrollbar-thumb {
      border: none;
      background: var(--color-text-emphatic);
    }

    /* 篡改目录頭 */
    & .contents>header h2 {
      font-size: 0;
    }

    & .contents>header h2::before {
      content: "玩家手册 Player's Handbook";
      font-size: 21px;
      font-family: var(--dnd5e-font-modesto);
      font-weight: bold;
      color: light-dark(#fff, var(--dnd5e-color-dark));
    }
  }

  & .contents section {
    columns: 30ch;
  }

  /* Journals not showing their child pages should
     * not be bold */
  & .special-entry:not(.child-pages) a {
    font-weight: normal;
  }

  & .contents .chapter {
    /* Allow chapters to column break */
    break-inside: auto;

    /* "sub-chapter" entries should stay as a group */
    & .child-pages {
      break-inside: avoid-column;
    }

    /* Top level pages are aligned left in print ToC */
    &>.pages {
      margin-left: 0;
    }

    /* Chapter font and slightly increased size */
    & h3 a {
      font-family: var(--dnd5e-font-modesto);
      font-size: larger;
    }

    & h3+.pages {
      break-before: avoid;
    }
  }
}

/* ---------------------------------------- */
/*  DMG                                     */
/* ---------------------------------------- */
.table-of-contents[data-compendium-id="dnd5e-collection-2024.dungeon-masters-guide"] {
  --dnd5e-srd-color-chapter-header: var(--color-text-emphatic);
  --dnd5e-srd-color-border: var(--color-text-emphatic);
  --dnd5e-srd-color-box-header: #fff;

  /* Frame styling: Background image and scrollbars */
  .window-content {

    border-image: var(--dmg-border-image);
    color: var(--color-text-primary);

    .contents {
      background: none;
    }

    scrollbar-width: thin;
    scrollbar-color: var(--color-text-emphatic) transparent;

    &::-webkit-scrollbar-track {
      box-shadow: none;
      border-radius: 0;
    }

    &::-webkit-scrollbar-thumb {
      border: none;
      background: var(--color-text-emphatic);
    }

    /* 篡改目录頭 */
    & .contents>header h2 {
      font-size: 0;
    }

    & .contents>header h2::before {
      content: "城主指南 Dungeon Master's Guide";
      font-size: 21px;
      font-family: var(--dnd5e-font-modesto);
      font-weight: bold;
      color: light-dark(#fff, var(--dnd5e-color-dark));
    }
  }

  .contents section {
    columns: 30ch;
  }

  /* Journals not showing their child pages should
   * not be bold */
  .special-entry:not(.child-pages) a {
    font-weight: normal;
  }

  .contents .chapter {
    /* Allow chapters to column break */
    break-inside: auto;

    /* "sub-chapter" entries should stay as a group */
    .child-pages {
      break-inside: avoid-column;
    }

    /* Top level pages are aligned left in print ToC */
    &>.pages {
      margin-left: 0;
    }

    /* Chapter font and slightly increased size */
    h3 a {
      font-family: var(--dnd5e-font-modesto);
      font-size: larger;
    }

    h3+.pages {
      break-before: avoid;
    }
  }
}

/* ---------------------------------------- */
/*  MM                                      */
/* ---------------------------------------- */
.table-of-contents[data-compendium-id="dnd5e-collection-2024.monster-manual"] {
  --dnd5e-srd-color-chapter-header: var(--color-text-emphatic);
  --dnd5e-srd-color-border: var(--color-text-emphatic);
  --dnd5e-srd-color-box-header: #fff;

  & .window-content {

    border-image: var(--mm-border-image);
    color: var(--color-text-primary);

    & .contents {
      background: none;
    }

    scrollbar-width: thin;
    scrollbar-color: var(--color-text-emphatic) transparent;

    &::-webkit-scrollbar-track {
      box-shadow: none;
      border-radius: 0;
    }

    &::-webkit-scrollbar-thumb {
      border: none;
      background: var(--color-text-emphatic);
    }

    /* 篡改目录頭 */
    & .contents>header h2 {
      font-size: 0;
    }

    & .contents>header h2::before {
      content: "怪物图鉴 Monster Manual";
      font-size: 21px;
      font-family: var(--dnd5e-font-modesto);
      font-weight: bold;
      color: light-dark(#fff, var(--dnd5e-color-dark));
    }
  }

  & aside {
    order: 2;
  }

  & .contents>section {
    column-count: unset;
    column-width: 30ch;

    &>div {
      break-inside: auto;

      & ul {
        margin-inline-start: 0.5rem;
      }
    }

    & ul li.special-entry:not(.child-pages)>a {
      font-weight: normal;
    }
  }

  & ul>li:has(ul) {
    break-inside: avoid-column;
  }

  & h3 {
    font-family: var(--dnd5e-font-modesto);
  }
}